
body{
	background:#fff;/*RGB*/

}

img{
	width:50%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
