
body{
	background:green;/*RGB*/
}

 img{
position: absolute;
top:0px;
	width:80%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
}
