
body{
	background:#fff;/*RGB*/
overflow: hidden;
}

img{
	width:100%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
